<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisma</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}">
</head>
<body>
    <div class="main-content" style="position: relative; margin: 4%; height: 60%;">
        <h1>TO BE NAMED</h1>
        <p>This page is under construction.</p>
    </div>
</body>
</html>