<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Frontier</title>
    <link rel="stylesheet" href="../static/stylesheets/base.css">
    <link rel="stylesheet" href="../static/stylesheets/planet.css">
    <script> var exports = {}; </script>
    <script type="application/javascript" src="../static/scripts/pages/planet/loadResourceCount.js"></script>
    <script type="application/javascript" src="../static/scripts/common/getQueryParameter.js"></script>
</head>
<body onload="loadResourceCount(getQueryParam('planet'))">
    <div class="topbar">
        <a class="resource-item">
            <span class="resource-icon" style="background: url(../static/assets/48px-2-to-3-refrence.png)"></span>
            <div style="position:relative; width:116px; top:-32px; left:56px;">
                <span style="position: relative;">Metals</span><br>
                <span style="position: relative; top: -5px; font-size:10px;" id="metal-amount" >69.420</span>
            </div>
        </a>
        <a class="resource-item">
            <span class="resource-icon" style="background: url(../static/assets/48px-2-to-3-refrence.png)"></span>
            <div style="position:relative; width:116px; top:-32px; left:56px;">
                <span style="position: relative;">Crystals</span><br>
                <span style="position: relative; top: -5px; font-size:10px;" id="crystal-amount" >69.420</span>
            </div>
        </a>
        <a class="resource-item">
            <span class="resource-icon" style="background: url(../static/assets/48px-2-to-3-refrence.png)"></span>
            <div style="position:relative; width:116px; top:-32px; left:56px;">
                <span style="position: relative;">Gases</span><br>
                <span style="position: relative; top: -5px; font-size:10px;" id="gas-amount" >69.420</span>
            </div>
        </a>
    </div>
    <div id="game-container" style="display: flex;">
        <div id="sidebar" class="sidebar">
            <a class="planet-button" href="overview"     >Overview  </a>
            <a class="planet-button" href="buildings"    >Buildings </a>
            <a class="planet-button" href="defense"      >Defense   </a>
            <a class="planet-button" href="shipyard"     >Shipyard  </a>
            <a class="planet-button" href="fleet"        >Fleet     </a>
            <a class="planet-button" href="../technology">Technology</a>
            <a class="planet-button" href="../galaxy"    >Galaxy    </a>
            <a class="planet-button" href="../alliance">Alliance</a>
            <a class="planet-button" href="../chat"      >Hypercom  </a>
        </div>

        <div id="main-content" class="main-content">
            <div class="planet-image-container">
                <div class="planet-header"></div>
                <div>
                    <div class="planet-image" style="background: url(../static/assets/planet-defense-banner.png) no-repeat; position: absolute;"></div>
                    <div class="planet-image blue-stripes"></div>
                    <h2  class="planet-title">Defense</h2>
                    <div class="planet-image"></div>
                </div>
                <p>(This page is under construction.)</p>
            </div>

            <div style="display: grid; grid-template-columns: repeat(5, 150px); grid-gap: 20px; justify-content: left;">
                <div class="image-container-128px">
                    <div>
                        <div class="image-overlay-128px tooltip">
                            <div class="tooltiptext">AA Guns</div>
                        </div>
                        <img src="../static/assets/planet-defense-aa.png">
                    </div>
                </div>
                <div class="image-container-128px">
                    <div>
                        <div class="image-overlay-128px tooltip">
                            <div class="tooltiptext">Railgun Turrets</div>
                        </div>
                        <img src="../static/assets/planet-defense-railgun.png">
                    </div>
                </div>
                <div class="image-container-128px">
                    <div>
                        <div class="image-overlay-128px tooltip">
                            <div class="tooltiptext">Rocket Launchers</div>
                        </div>
                        <img src="../static/assets/planet-defense-rocket.png">
                    </div>
                </div>
                <div class="image-container-128px">
                    <div>
                        <div class="image-overlay-128px tooltip">
                            <div class="tooltiptext">Laser Turrets</div>
                        </div>
                        <img src="../static/assets/planet-defense-laser.png">
                    </div>
                </div>
                <div class="image-container-128px">
                    <div>
                        <div class="image-overlay-128px tooltip">
                            <div class="tooltiptext">Ion Turrets</div>
                        </div>
                        <img src="../static/assets/planet-defense-ion.png">
                    </div>
                </div>
                <div class="image-container-128px">
                    <div>
                        <div class="image-overlay-128px tooltip">
                            <div class="tooltiptext">Plasma Turrets</div>
                        </div>
                        <img src="../static/assets/planet-defense-plasma.png">
                    </div>
                </div>
                <div class="image-container-128px">
                    <div>
                        <div class="image-overlay-128px tooltip">
                            <div class="tooltiptext">Disruptor Turrets</div>
                        </div>
                        <img src="../static/assets/planet-defense-disruptor.png">
                    </div>
                </div>
                <div class="image-container-128px">
                    <div>
                        <div class="image-overlay-128px tooltip">
                            <div class="tooltiptext">Small Shield Generator</div>
                        </div>
                        <img src="../static/assets/planet-defense-s-shield.png">
                    </div>
                </div>
                <div class="image-container-128px">
                    <div>
                        <div class="image-overlay-128px tooltip">
                            <div class="tooltiptext">Large Shield Generator</div>
                        </div>
                        <img src="../static/assets/planet-defense-m-shield.png">
                    </div>
                </div>
                <div class="image-container-128px">
                    <div>
                        <div class="image-overlay-128px tooltip">
                            <div class="tooltiptext">Planetary Shield Generator</div>
                        </div>
                        <img src="../static/assets/planet-defense-l-shield.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>