<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Frontier</title>
    <link rel="stylesheet" href="../static/stylesheets/base.css">
    <link rel="stylesheet" href="../static/stylesheets/planet.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script> var exports = {}; </script>
    <script type="application/javascript" src="../static/scripts/pages/planet/loadPlanetPage.js"></script>
    <script type="application/javascript" src="../static/scripts/common/getQueryParameter.js"></script>
</head>
<body onload="loadPlanetPage(getQueryParam('planet'), 'shipyard')">
    <div class="topbar">
        <a class="resource-item">
            <span class="resource-icon" style="background: url(../static/assets/48px-2-to-3-refrence.png)"></span>
            <div style="position:relative; width:116px; top:-32px; left:56px;">
                <span style="position: relative;">Metals</span><br>
                <span style="position: relative; top: -5px; font-size:10px;" id="metal-amount" >69.420</span>
            </div>
        </a>
        <a class="resource-item">
            <span class="resource-icon" style="background: url(../static/assets/48px-2-to-3-refrence.png)"></span>
            <div style="position:relative; width:116px; top:-32px; left:56px;">
                <span style="position: relative;">Crystals</span><br>
                <span style="position: relative; top: -5px; font-size:10px;" id="crystal-amount" >69.420</span>
            </div>
        </a>
        <a class="resource-item">
            <span class="resource-icon" style="background: url(../static/assets/48px-2-to-3-refrence.png)"></span>
            <div style="position:relative; width:116px; top:-32px; left:56px;">
                <span style="position: relative;">Gases</span><br>
                <span style="position: relative; top: -5px; font-size:10px;" id="gas-amount" >69.420</span>
            </div>
        </a>
    </div>
    <div id="game-container" style="display: flex;">
        <div id="sidebar" class="sidebar">
            <a class="planet-button" id="overview-button"  href="overview"     >Overview</a>
            <a class="planet-button" id="buildings-button" href="buildings"    >Buildings</a>
            <a class="planet-button" id="defense-button"   href="defense"      >Defense</a>
            <a class="planet-button" id="shipyard-button"  href="shipyard"     >Shipyard</a>
            <a class="planet-button" id="fleet-button"     href="fleet"        >Fleet</a>
            <a class="planet-button" id="technology-button"href="technology">Technology</a>
            <a class="planet-button"                       href="../galaxy"    >Galaxy</a>
            <a class="planet-button"                       href="../alliance"  >Alliance</a>
            <a class="planet-button"                       href="../chat"      >Hypercom</a>
        </div>

        <div id="main-content" class="main-content">
            <div class="planet-image-container">
                <div class="planet-header"></div>
                <div>
                    <div class="planet-image" style="background: url(../static/assets/planet-shipyard-banner.png) no-repeat; position: absolute;"></div>
                    <div class="planet-image blue-stripes"></div>
                    <h2  class="planet-title">Shipyard</h2>
                    <div class="planet-image"></div>
                </div>
                <p style="color: var(--error-color);" id="planet-news-dislay"> </p>
            </div>
            <!-- TypeScript should add the content. See loadPlanetPage.ts for more information. -->
        </div>
    </div>
</body>
</html>